
<div class="item">
  <h3>Gustavo Martinelli</h3>
  <h4 class="area"><strong>Coordenador geral</strong></h4>
  <img src="{{static_url}}/images/equipe/Gustavo.jpeg"/>
  <p> Doutor pela Faculty of Sciences – University of St. Andrews, UK (1994). Atualmente é
  pesquisador titular do Instituto de Pesquisa Jardim Botânico do Rio de Janeiro e coordenador do Centro
  Nacional de Conservação da Flora – CNCFlora. Nomeado como Ponto Focal do Brasil junto à Estratégia
  Global para Conservação de Plantas – GSPC/CDB. Docente do Programa de Pós-Graduação da Escola
  Nacional de Botânica Tropical – ENBT/JBRJ; Professor Credenciado da Open University, UK; membro do
  Conselho de Administração da Fundação SOS Mata Atlântica; Chair do Brazilian Plant Red List Authority
  da IUCN. Tem experiência na área de Botânica, com ênfase em Taxonomia Vegetal, atuando
  principalmente nos seguintes temas: Bromeliaceae, Conservação, Mata Atlântica, Biodiversidade de
  Montanhas,Taxonomia, Inventários e coordenação de expedições científicas.<br/><br/>
  <strong><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4783815J2" target="_blank">Currículo lattes</a></strong><br/>
  <strong>Email:</strong> gmartine@cncflora.net
  </p>
</div>

<div class="item">
  <h3>Eduardo Dalcin</h3>
  <h4 class="area"><strong>Coordenador substituto</strong></h4>
  <img src="{{static_url}}/images/equipe/Eduardo.jpeg"/>
  <p> Doutor em Informática na Biodiversidade pela University of Southampton,
  (2005), graduado em Ciências Biológicas pela Universidade Gama Filho (1989). Sua experiência e
  interesses profissionais estão relacionados com: gestão de informação em biodiversidade, governança de
  dados em biodiversidade, bancos de dados taxonômicos; e qualidade, análise e visualização de dados
  sobre biodiversidade. Atualmente ocupa o cargo de coordenador do Núcleo de Computação Científica e
  Geoprocessamento do Instituto de Pesquisas Jardim Botânico do Rio de Janeiro. Membro do comitê
  técnico-científico do Sistema de Informação sobre a Biodiversidade Brasileira (SiBBr) do MCTI; e do
  Grupo Técnico da Flora do Mundo Online, meta da GSPC para 2020. No CNCFlora atua como
  coordenador substituto e faz parte da equipe dos núcleos “Planejamento de ações para a conservação de
  espécies ameaçadas de extinção” e "Computação cientifica e SIG”.<br/><br/>
  <strong><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4786576P3" target="_blank">Currículo lattes</a></strong><br/>
  <strong>Email:</strong> edalcin@jbrj.org</p>
</div>

<div class="item">
  <h3>Eline Martins</h3>
  <h4 class="area"><strong>Coordenadora técnico-científica</strong></h4>
  <img src="{{static_url}}/images/equipe/Eline.jpg"/>
  <p>
  Eline Martins é bióloga, doutora em Botânica pela Escola Nacional de Botânica Tropical - ENBT (2013) e mestre em Conservação da Natureza pela Universidade Federal Rural do Rio de Janeiro – UFRRJ (2009). Trabalha com conservação de espécies com enfoque no desenvolvimento de estratégias de conservação para espécies ameaçadas de extinção e genética da conservação. No CNCFlora desempenha a função de coordenadora técnico-científica e participa da elaboração dos Planos de Ação Nacional. Eline adora o contato com a natureza, ir à praia, praticar Yoga, andar de bicicleta, viajar e aproveitar a companhia dos afilhados! 
  <br /><br />
  <strong><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4162048A7" target="_blank">Currículo lattes</a></strong><br/>
  <strong>Email:</strong> eline@cncflora.net
    </p>
</div>

<div class="item">
  <h3>Maria Lúcia Moreira Nova da Costa</h3>
  <h4 class="area"><strong>Coordenadora do núcleo conservação Ex-Situ</strong></h4>
  <img src="{{static_url}}/images/equipe/Maria.jpg"/>
  <p>É Doutora pela Escola Nacional de Botânica
    Tropical, possui graduação em Engenharia Florestal pela Universidade de
    Brasília. Tem experiência na área de conservação e fortalecimento de jardins
    botânicos. No Instituto de Pesquisas Jardim Botânico do Rio de Janeiro ocupa
    o cargo de Tecnologista Senior III e coordena o núcleo 'Conservação Ex Situ'.<br/><br/><br />
    <strong>Email:</strong> lucianova@gmail.com
    </p>
</div>

<div class="item">
  <h3>Nina Pougy</h3>
  <h4 class="area"><strong>Coordenadora do núcleo Planejamento de Ações</strong></h4>
  <img src="{{static_url}}/images/equipe/Nina.jpg"/>
  <p>
  Nina Pougy é bióloga, bacharel em Ecologia pela Universidade Federal do Rio de Janeiro - UFRJ (2013). No CNCFlora coordena o núcleo “Planejamento de ações”. Também é responsável pelo geoprocessamento e análises de dados espaciais e participa na elaboração de estratégias de conservação para a flora ameaçada de extinção, nas expedições de campo e na redação de artigos científicos, projetos e documentos técnicos. Nina adora viajar, ir à praia, praticar Yoga, tomar banho de cachoeira e sair com os amigos!
  </p> 
  <br/>
  <strong><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4496488J9" target="_blank">Currículo lattes</a></strong><br/>
  <strong>Email:</strong> nina@cncflora.net
    </p>
</div>

<div class="item">
  <h3>Tainan Messina</h3>
  <h4 class="area"><strong>Coordenadora do núcleo Lista Vermelha</strong></h4>
  <img src="{{static_url}}/images/equipe/tainan.jpeg"/>
  <p>No CNCFlora coordena o núcleo "Lista Vermelha".
     Tem experiência nas áreas de biologia da conservação, conservação de espécies ameaçadas
    da flora e na elaboração de documentos técnico-científicos e protocolos para conservação da natureza.
    Também é Mestranda da Escola Nacional de Botânica Tropical – ENBT/JBRJ, graduada em Ciências
    Biológicas (Licenciatura + Bacharelado) pela Pontifícia Universidade Católica de Campinas – PUC (2005).<br/><br/>
  <strong><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4576965Y6" target="_blank">Currículo lattes</a></strong><br/>
  <strong>Email:</strong> tainan@cncflora.net
    </p>
</div>

<div class="item">
  <h3>Andrea Correia</h3>
  <img src="{{static_url}}/images/equipe/Andrea.jpeg"/>
  <p>Engenheira Química formada pela Universidade Federal do Rio de Janeiro - UFRJ,
  possui pós graduação em Engenharia Econômica e Administração Industrial também pela UFRJ e MBA
  em Finanças pelo IBMEC. Atuou por 16 anos na iniciativa privada, em empresas atuantes nos setores de
  papel e celulose, petroquímica, energia, óleo e gás, logística e mineração, tendo conduzido atividades nas
  áreas de planejamento, relações com investidores e comunicação.<br/><br/>
  <strong>Email:</strong> andrea@cncflora.net
  </p>
</div>
<div class="item">
  <h3>Daniel Maurenza</h3>
  <img src="{{static_url}}/images/equipe/Daniel.jpg"/>
  <p>Biologo e mestre em Ecologia pelo Instituto Nacional de Pesquisas da
  Amazônia. No CNCFlora faz parte da equipe planejamento de ações para a conservação de
  espécies ameaçadas de extinção, tendo como atribuição a análise de dados da flora, produção
  científica e coleta de dados de campo. Daniel adora fazer trilhas e tomar cerveja com os amigos!<br/><br/>
  <strong><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4732926E5" target="_blank">Currículo lattes</a></strong><br/>
  <strong>Email:</strong> dmaurenza@cncflora.net
    </p>
</div>
<div class="item">
  <h3>Daniele Vila Nova</h3>
  <img src="{{static_url}}/images/equipe/daniele.jpg"/>
  <p>
    é bióloga e doutora em Ecologia e Conservação pela Universidade Federal
    do Paraná (2014). Daniele trabalha principalmente com a priorização espacial e análise de
    governabilidade como uma estrutura de planejamento do espaço costeiro e marinho. Atualmente,
    faz pós-doutorado, sob a supervisão de Rafael Loyola, e auxilia o CNCFlora a desenvolver o
    primeiro mapa de áreas prioritárias para a conservação da flora ameaçada no Brasil. Daniele
    adora viajar, fotografia e edição de vídeos, além de praticar mergulho e stand-up paddle.<br/>
    <strong><a href="http://lattes.cnpq.br/7089890791632018" target="_blank">Currículo lattes</a></strong><br />
    <strong>Email:</strong> daniele@cncflora.net<br/>
    </p>
</div>
<div class="item">
  <h3>Diogo Silva</h3>
  <img src="{{static_url}}/images/equipe/Diogo.jpeg"/>
  <p> Graduando em Análise e Desenvolvimento de Sistemas pela Universidade Estácio de Sá
    (conclusão prevista para 2014). Possui experiência no desenvolvimento de portais e aplicações para
    internet e servidores, em análise e modelagem de sistemas e processos, utilizando tecnologias e
    ferramentas de código livre (opensource). No CNCFlora faz parte da equipe de “Computação cientifica e SIG”,
    onde é responsável pela criação e desenvolvimento do portal
    CNCFlora, desenvolvimento de sistemas, informatização, implementação e gerenciamento de dados e
    infraestrutura de tecnologia.<br/><br/>
  <strong>Email:</strong> diogo@cncflora.net
  </p>
</div>
<div class="item">
  <h3>Eduardo Fernandez</h3>
  <img src="{{static_url}}/images/equipe/Duda.jpg"/>
  <p>
  Bacharel em Ciências Biológicas pela Universidade Santa Úrsula – USU (2012). Tem experiência nas áreas de botânica e ecologia nos principais biomas brasileiros e atua nos temas Biodiversidade de Ecossistemas de Montanhas e História Evolutiva de Vegetações Campestres. Integra a equipe do Núcleo Listas Vermelhas do CNCFlora, sendo responsável pela análise de dados e avaliação de risco de extinção das espécies da flora brasileira. É também responsável pela organização e a execução de expedições científicas para a coleta de material botânico em áreas prioritárias para conservação e pesquisa nas principais áreas com lacunas de informação. Encontra-se envolvido na produção de artigos científicos e notas sobre a distribuição geográfica de espécies raras/ ameaçadas da flora, além de produzir relatórios técnico-científicos, materiais para divulgação e diagnósticos sobre a situação de espécies da flora em risco de extinção.<br /><br />
  <strong>
    <a href="http://lattes.cnpq.br/0339764153484153">Currículo lattes</a>
  </strong><br />
  <strong>Email:</strong> efernandez@cncflora.net
  </p>
</div>
<div class="item">
  <h3>CAROLINA CASTELLANOS CASTRO</h3>
  <img src="{{static_url}}/images/equipe/carolina.png"/>
  <p>
    Investigadora asociada al Instituto Alexander von Humboldt en donde lidera la participación en redes y las acciones dirigidas a generar conocimiento para la conservación y aprovechamiento sostenible de las especies de plantas en Colombia, actualmente con énfasis en las orquídeas nativas de Cundinamarca. Bióloga con Maestría en Ciencias Biológicas y Doctorado en Conservación y Manejo de Recursos Naturales. Experiencia en el estudio de comunidades de plantas en ecosistemas tropicales y la propagación de especies con énfasis en la ecología de la restauración. <br/>
    <strong>Email:</strong> <a href="mailto:ccastellanos@humboldt.org.co">ccastellanos@humboldt.org.co</a>
  </p>
</div>
<div class="item">
  <h3>Juliana Amaral</h3>
  <img src="{{static_url}}/images/equipe/Juliana.jpg"/>
  <p>
    Bióloga e mestre em Botânica pela Escola Nacional de Botânica Tropical -
    ENBT (2014). No CNCFlora, participa de todos os processos envolvidos na elaboração de
    estratégias de conservação para a flora ameaçada de extinção, da redação de artigos científicos e
    de documentos técnicos ou de divulgação científica. Ainda, é responsável pela coleta e
    determinação do material botânico durante as expedições à campo. Juliana adora montanhas,
    praticar Yoga, aprender coisas novas e tomar vinho com os amigos!<br/><br/><br/>
    <strong><a href="http://lattes.cnpq.br/7258510578751609" target="_blank">Currículo lattes</a></strong><br/>
    <strong>Email:</strong> juliana@cncflora.net
  </p>
</div>
<div class="item">
  <h3>Julio Perota</h3>
  <img src="{{static_url}}/images/equipe/Julio.jpeg"/>
  <p>Bacharel Marketing pela Pontifícia Universidade Católica de Campinas. Atualmente integra a
    equipe de gestão administrativa do CNCFlora, e participa de atividades relacionadas ao projeto  
    “Conservação de espécies da flora criticamente em perigo de extinção do Cerrado Brasileiro”. Tem
    atuação em empresas corporativas com atividades relacionadas à pesquisa de mercado, atendimento e
    marketing interno.
    <br /><br />
    <strong>Email:</strong> julioperota@cncflora.net 
    </p>
</div>

<div class="item">
  <h3>Laura Moraes</h3>
  <img src="{{static_url}}/images/equipe/Laura.jpg"/>
  <p>Mestranda em Inteligencia Artificial pela COPPE, Laura também é
  Engenheira Eletrônica e de Computacao pela UFRJ. Já trabalhou em
  outros centros de pesquisa na área de engenharia de software,
  desenvolvendo e dando suporte aos sistemas de gerenciamento da
  colaboração. Possui uma start-up de TI especializada em integração e
  análise de dados, utilizando técnicas de machine learning e data
  mining. No CNCFlora participa do Núcleo de Sistema de Informação e
  SIG, onde contribui para o desenvolvimento e evolução dos sistemas,
  bancos de dados e tecnologia do Centro. Adora dançar, ler livros, ir
  à praia e bater papo.
  <br /><br />
  <strong><a href="http://lattes.cnpq.br/3138892444406479" target="_blank">Currículo lattes</a></strong><br/>
  <strong>Email:</strong> lmoraes@cncflora.net 
    </p>
</div>

<div class="item">
  <h3>Leonardo Novaes</h3>
  <img src="{{static_url}}/images/equipe/Leonardo.jpeg"/>
  <p> Graduado em Geografia (Bacharelado) pela Pontifícia Universidade Católica do Rio
    de Janeiro - PUC (2011). Possui experiência na área de sensoriamento remoto e sistemas de
    informações geográficas (SIG), atuando principalmente nos seguintes temas: estudos ambientais e
    geotecnologias. No CNCFlora faz parte da equipe “Desenvolvimento de sistemas e análises
    espaciais”, participando na análise de dados, redação de artigos científicos e de documentos técnicos ou
    de divulgação científica e produção cartográfica.<br/><br/>
  <strong><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4455856P9" target="_blank">Currículo lattes</a></strong><br/>
  <strong>Email:</strong> leonardo@cncflora.net
  </p>
</div>
<div class="item">
  <h3>Lucas Moraes</h3>
  <img src="{{static_url}}/images/equipe/Lucas_moraes.jpeg"/>
  <p> No CNCFlora, é integrante da equipe do núcleo “Lista Vermelha”, com atuação principal
    nas análises de avaliação de risco de extinção. Além disso, possui partipação nas etapas de redação e
    editoração de documentos e no gerenciamento do banco de imagens. Possui graduação em Ciências
    Biológicas pela Universidade Federal do Rio de Janeiro, na modalidade Genética (2013). Tem experiência
    nas áreas de evolução molecular, filogenética, filogeografia, fotografia e edição de imagens.<br/><br/>
  <strong><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4407910Y7" target="_blank">Currículo lattes</a></strong><br/>
  <strong>Email:</strong> lucasmoraes@cncflora.net
  </p>
</div>
<div class="item">
  <h3>Lucas Moulton</h3>
  <img src="{{static_url}}/images/equipe/Lucas.jpeg"/>
  <p> No CNCFlora, faz parte da equipe do núcleo “Lista Vermelha”, participando da análise
    de dados, avaliação de risco, redação de artigos científicos e de documentos técnicos ou de divulgação
    científica; e responsável por traduções em inglês. Graduado em Ciência Ambiental (Bacharelado) pela
    Universidade de New England (University of New England), Austrália. Possui experiência com a
    elaboração, execução, redação e apresentação de estudo da resiliência de macrófitas submersas diante
    de aumento de nutrientes em sistema lêntico e como auxiliar de campo em estudos de fitossociologia da
    Mata Nebular da Serra dos Orgãos.<br/><br/>
      <strong>Email:</strong> lmoulton@cncflora.net
    </p>
</div>
<div class="item">
  <h3>Luiz Antonio Ferreira dos Santos Filho</h3>
  <img src="{{static_url}}/images/equipe/Luiz.jpeg"/>
  <p>Graduado em Ciências Biológicas pela Universidade Santa
    Úrsula (2009). Pós-graduado em Meio Ambiente pela COPPE/UFRJ (2012). Mestrando pela Escola
    Nacional de Botânica Tropical (ENBT/JBRJ). No Centro Nacional de Conservação da Flora (CNCFlora)
    atua no núcleo Lista Vermelha, coordenando o fluxo de trabalho da avaliação do risco de extinção da
    flora, a redação de artigos científicos e de documentos técnicos ou de divulgação científica.<br/><br/>
  <strong><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4559241J9" target="_blank">Currículo lattes</a></strong><br/>
  <strong>Email:</strong> luiz@cncflora.net
    </p>
</div>
<div class="item">
  <h3>Marcio Verdi</h3>
  <img src="{{static_url}}/images/equipe/Marcio.jpg"/>
  <p>Biólogo e mestre em Botânica pela Universidade Federal Rio Grande Sul
  (2013), cujos interesses estão voltados para a avaliação da biodiversidade e modelagem de
  distribuição de espécies sobre diferentes cenários climáticos, com enfoque para conservação. No
  CNCFlora participa de todos os processos envolvidos na elaboração de estratégias de
  conservação para a flora ameaçada de extinção, da redação de artigos científicos e de
  documentos técnicos ou de divulgação científica. Ainda, é curador do banco de imagens e responsável pela coleta e
  determinação do material botânico durante as expedições à campo. Verdi adora coletar e
  fotografar plantas, tomar chimarrão e apreciar cervejas artesanais.<br/><br/>
  <strong><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4251351Y9" target="_blank">Currículo lattes</a></strong><br/>
  <strong>Email:</strong> verdi@cncflora.net
    </p>
</div>
<div class="item">
  <h3>Marta Moraes</h3>
  <img src="{{static_url}}/images/equipe/Marta.jpg"/>
  <p>
  Marta Moraes, bióloga, bacharel em Ecologia pela Universidade Federal do Rio de Janeiro - UFRJ (1986). Foi bolsista do Jardim Botânico do Rio de Janeiro (JBRJ) trabalhando no Herbário, participou do Programa Mata Atlântica e do Projeto Campos de Altitude, sob a coordenação de Gustavo Martinelli. Entre 1996 e 2014 coordenou o Orquidário e a coleção viva de Orquídeas do JBRJ. Montou e é responsável pela coleção em meio líquido (RBSpirit) do Herbário RB. No CNCFlora integra a equipe do núcleo Lista Vermelha executando análise e avaliação de risco de extinção das espécies. Participa também do gerenciamento do banco de imagens.
  <br /><br />
  <strong><a href="http://lattes.cnpq.br/7277743500411035" target="_blank">Currículo lattes</a></strong><br/>
  <strong>Email:</strong> marta@cncflora.net
    </p>
</div>
<div class="item">
   <h3>Nathália Machado</h3>
    <img src="{{static_url}}/images/equipe/nathalia.jpg"/>
    <p>
      é bióloga e doutora em Ecologia e Evolução pela Universidade Federal de
      Goiás (2014). Nathália trabalha principalmente com priorização espacial para conservação,
      ecologia de aves e risco de extinção. Atualmente, faz pós-doutorado, sob a supervisão de Rafael
      Loyola, e auxilia o CNCFlora a desenvolver o primeiro mapa de áreas prioritárias para a
      conservação da flora ameaçada no Brasil. Nathália adora viajar, dançar e praticar pilates.<br/>
      <strong>Email:</strong> nathaliamachado@cncflora.net<br/>
      <a href="http://lattes.cnpq.br/2608509187003731" target="_blank">Currículo lattes</a></p>
</div>
<div class="item">
  <h3>Raquel Negrão</h3>
  <img src="{{static_url}}/images/equipe/Raquel.jpeg"/>
  <p>No CNCFlora faz parte da equipe do núcleo “Lista Vermelha”, participando da análise de
    dados, avaliação de risco de extinção, redação de artigos científicos, de documentos técnicos e de
    divulgação científica. É Doutora e Mestre pelo Programa de Ecologia e Recursos Naturais da
    Universidade Federal de São Carlos e graduada em Ciências Biológicas pela mesma universidade.
    Desenvolveu e participou de núcleos nas áreas de Ecologia Vegetal de Populações e Comunidades,
    Botânica, Ecologia da Paisagem, Ecologia de Estradas e Educação Ambiental, atuando principalmente
    nos seguintes temas: estrutura e dinâmica de populações, ecologia de comunidades envolvendo
    levantamento fitossociológicos, distribuição espacial, estudo de ecótones e efeito de transições artificias,
    educação ambiental e conservação da biodiversidade. Possui experiência de campo em diferentes áreas
    de Cerrado, Mata Atlântica e Restinga.<br/><br/>
  <strong><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4717594P3" target="_blank">Currículo lattes</a></strong><br/>
  <strong>Email:</strong> raquel@cncflora.net
    </p>
</div>

<div class="item">
  <h3>Ricardo Avancini Fernandes</h3>
  <img src="{{static_url}}/images/equipe/Ricardo.jpeg"/>
  <p>
 Mestrando do curso de Engenharia Cartográfica do Instituto Militar de Engenharia (IME), pós-graduando no MBA em Tecnologia da Informação pela Universidade Federal do Rio de Janeiro – UFRJ, graduado em Ciências Biológicas pela mesma universidade. Possui experiência na área de tecnologia da informação e geoprocessamento, atuando principalmente no desenvolvimento e manutenção de banco de dados geográficos e desenvolvimento de sistemas de informação. No CNCFlora participa da equipe do núcleo "Computação cientifica e SIG", participando do desenvolvimento de sistemas, gerenciamento do banco de dados e elaboração de mapas, além de contribuir com a redação de artigos científicos e de documentos técnicos ou de divulgação científica.
  <br /><br />
    <strong><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4210066U4" target="_blank">Currículo lattes</a></strong><br/>
    <strong>Email:</strong> avancini@cncflora.jbrj.gov.br
    </p>
</div>
<div class="item">
  <h3>Rodrigo Amaro da Fonseca e Silva</h3>
  <img src="{{static_url}}/images/equipe/Rodrigo.jpeg"/>
  <p>Integrante da equipe do núcleo “Lista Vermelha" do
  atua na avaliação de risco de espécies e composição de documentos técnico-científicos. Participa
  também de atividades do núcleo “Conservação ex situ”. Mestre em Ciência Ambiental (2012) e graduado
  em Ciências Biológicas (2009) pela Universidade Federal Fluminense - UFF, tem experiências em
  temáticas interdisciplinares, como gestão ambiental, conservação de espécies ameaçadas, planejamento
  socioambiental, recuperação de áreas degradadas, educação ambiental, botânica e ecologia.<br/><br/>
  <strong><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4238333Z3" target="_blank">Currículo lattes</a></strong><br/>
  <strong>Email:</strong> rodrigo@cncflora.net
    </p>
</div>
<div class="item">
  <h3>Susana Dreveck</h3>
  <img src="{{static_url}}/images/equipe/Susana.jpg"/>
  <p>
  Susana Dreveck é bióloga formada pela Universidade Regional de Blumenau (2008), com experiência em inventários florísticos e florestais do componente arbóreo e arbustivo da Mata Atlântica. Na Universidade Regional de Blumenau, trabalhou entre 2008-2010 como bióloga do Inventário Florístico Florestal de Santa Catarina (IFFSC). No CNCFlora participa de todos os processos envolvidos na avaliação do risco de extinção de espécies arbóreas endêmicas da flora do Rio de Janeiro, da redação de artigos científicos e de documentos técnicos ou de divulgação científica. Susana adora praticar esportes ao livre e se aventurar na cozinha.
  <br /><br />
  <strong><a href="http://lattes.cnpq.br/5090248618258897" target="_blank">Currículo lattes</a></strong><br/>
  <!--
  <strong>Email:</strong> marta@cncflora.net
  -->
    </p>
</div>
<div class="item">
  <h3>Tamar Bajgielman</h3>
  <img src="{{static_url}}/images/equipe/Tamar.jpg"/>
  <p>
  Tamar Bajgielman é Doutora em Antropologia pela University of Kent, UK,
  Mestre em Etnobotânica pela mesma universidade e graduada em Ciências
  Biológicas pela Universidade Santa Úrsula.  Tem experiência na área de
  Antropologia, com ênfase em Antropologia Ambiental, atuando principalmente
  nos seguintes temas: ecologia política, etnoecologia, conservação e manejo de
  recursos naturais, agricultura, pesca artesanal, propriedade coletiva e acesso a
  recursos produtivos.<br/><br/>
  <strong>Email:</strong>tamar.rio@gmail.com
  </p>
</div>
