<div class="">
<h3>Lista Roja de Especies Amenazadas</h3>
  <!-- ********************************************************************************* -->
  <!-- ********************************************************************************* -->
  <!-- ********************************************************************************* -->
  <!-- ********************************************************************************* -->
  <p>La Lista Roja es el producto final del trabajo realizado por el 
  <a href="{{base_url}}/pt-br/projetos/lista-vermelha">“Proyecto Lista Roja”</a> en colaboración con la red de expertos botánicos. Aquí se pueden encontrar todas las formas de análisis y evaluación del riesgo de extinción de las especies que han sido evaluadas por la familia.</p>
  <!-- ********************************************************************************* -->
  <!-- ********************************************************************************* -->
  <p>Cada una de las especies se clasifican en una de las ocho categorías de peligrosidad y se presentan también los 
  <a href="http://cncflora.jbrj.gov.br/portal/static/pdf/documentos/Sumario_Categorias_IUCN.pdf">criterios y subcriterios</a> utilizados durante la evaluación.</p>
  <!-- ********************************************************************************* -->
  <!-- ********************************************************************************* -->
  <p>Las especies se pueden clasificar como:</p>
  <br/>
  <br/>
  <p><strong>“En Peligro Crítico”</strong> <span class="category item-red-list CR"> CR</span><br/>
  Cuando la mejor evidencia disponible indica cumplir con cualquiera de los criterios A a E para “CR”. Estas especies se enfrentan a un riesgo extremadamente alto de extinción en estado silvestre.</p>
  <!-- ********************************************************************************* -->
  <!-- ********************************************************************************* -->
  <p><strong>“En peligro”</strong> <span class="category item-red-list EN"> EN</span><br/><br/>
  Cuando la mejor evidencia disponible indica cumplir con cualquiera de los criterios A a E para “EN”. Las especies se enfrentan a un riesgo muy alto de extinción en estado silvestre.</p>
  <!-- ********************************************************************************* -->
  <!-- ********************************************************************************* -->
  <p><strong>“Vulnerable”</strong> <span class="category item-red-list VU"> VU</span><br/>
  Cuando la mejor evidencia disponible indica cumplir con cualquiera de los criterios A a E para “VU”. Las especies se enfrentan a un alto riesgo de extinción en la naturaleza.</p>
  <!-- ********************************************************************************* -->
  <!-- ********************************************************************************* -->
  <p><strong>“Casi Amenazada”</strong> <span class="category item-red-list NT"> NT</span><br/>
  Las especies que actualmente no pueden clasificarse como amenazadas, pero se acercan o que puedan ser calificados en una categoría de amenaza en un futuro próximo.</p>
  <!-- ********************************************************************************* -->
  <!-- ********************************************************************************* -->
  <p><strong>“Menos preocupante”</strong> <span class="category item-red-list LC"> LC</span><br/>
  Las especies que actualmente no pueden clasificarse como amenazadas. Se incluyen en esta categoría las especies abundantes y ampliamente distribuidos.</p>
  <!-- ********************************************************************************* -->
  <!-- ********************************************************************************* -->
  <p><strong>“Datos insuficientes”</strong> <span class="category item-red-list DD"> DD</span><br/>
  Las especies que no tienen suficiente información para la categorización del riesgo de extinción basándose en la distribución y/o condición de la población. Una especie de esta categoría se puede estudiar, pero los datos de abundancia y/o distribución deficiente.</p>
  <!-- ********************************************************************************* -->
  <!-- ********************************************************************************* -->
  <p><strong>“Extinto”</strong> <span class="category item-red-list EX"> EX</span><br/>
  Cuando no hay duda de que el último individuo de un taxón murió.</p>
  <!-- ********************************************************************************* -->
  <!-- ********************************************************************************* -->
  <p><strong>“Extinto en estado silvestre”</strong> <span class="category item-red-list EW"> EW</span><br/>
  Cuando un taxón sólo sobrevive en cultivo o cautividad con sólo una población (o subpoblaciones) naturalizada fuera de su área de distribución original.</p>
  <!-- ********************************************************************************* -->
  <!-- ********************************************************************************* -->
  <!-- ********************************************************************************* -->
  <!-- ********************************************************************************* -->
</div>