<h3>Libros</h3>
<div class="box-section box-project ">
    <div class="project-img col-sm-4 col-md-4 col-lg-4" >
        <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/46" id="espinhaco">
            <img src="{{static_url}}/images/projetos/planejamento/PAN-Espinhaco-Meridional.jpg"/>
        </a>
    </div>

    <div class="description col-sm-8 col-md-8 col-lg-8">
        <h4>
            <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/46" id="espinhaco2">
                PLANO DE AÇÃO NACIONAL PARA A CONSERVAÇÃO DA FLORA AMEAÇADA DE EXTINÇÃO DA SERRA DO ESPINHACO MERIDIONAL
            </a>
        </h4>
        <p>O <i>Plano de Ação Nacional para a conservação da flora
            ameaçada de extinção da Serra do Espinhaço Meridional </i>
        contém uma série de ações elaboradas para mitigar as
        ameaças que incidem neste território do estado de Minas
        Gerais. Na Serra do Espinhaço Meridional ocorrem 256
        espécies da flora ameaçada. Nesta publicação há informações
        sobre aspectos ambientais, socioeconômicos e
        histórico-culturais desse território alvo, bem como
        informações complementares sobre cada espécie Criticamente
        em perigo e com Dados insuficientes, disponíveis no 
        <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/46">Anexo</a>. 
        </p>
    </div>
</div>
<div class="box-section box-project ">
  <div class="project-img col-sm-4 col-md-4 col-lg-4" >
            <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/45" id="graomogol">
                <img src="{{static_url}}/images/projetos/planejamento/Capa-PAN-Grao-Mogol.jpg"/>
    </a>
  </div>

  <div class="description col-sm-8 col-md-8 col-lg-8">
      <h4>
          <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/45" id="graomogol2">
              PLANO DE AÇÃO NACIONAL PARA A CONSERVAÇÃO DA FLORA AMEAÇADA DE EXTINÇÃO DA REGIÃO DE GRÃO MOGOL - FRANCISCO SÁ
          </a>
      </h4>
      <p>O <i>Plano de Ação Nacional para a conservação da flora ameaçada
          de extinção da região de Grão Mogol-Francisco Sá</i> contém uma
      série de ações elaboradas para mitigar as ameaças que incidem
      neste território do Norte de Minas Gerais. Lá ocorrem 74
      espécies da flora ameaçada. Este plano de ação apresenta
      informações sobre aspectos ambientais, socioeconômicos e
      histórico-culturais desse território, bem como informações
      complementares sobre cada espécie Criticamente em perigo e com
      Dados insuficientes, disponíveis no 
      <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/45">Anexo</a>.
      </p>
  </div>
</div>
<div class="box-section box-project ">
  <div class="project-img col-sm-4 col-md-4 col-lg-4" >
            <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/40">
                <img src="{{static_url}}/images/projetos/planejamento/Guia-de-Campo.jpg"/>
    </a>
  </div>

  <div class="description col-sm-8 col-md-8 col-lg-8">
      <h4>
          <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/40">
              FLORA AMEAÇADA DO CERRADO MINEIRO - GUIA DE CAMPO
          </a>
      </h4>
      <p> <i>Flora ameaçada do Cerrado mineiro - guia de campo </i>traz
      informações redigidas em uma linguagem acessível para um público
      amplo, não especialista em botânica, visando aumentar o conhecimento
      sobre 82 espécies (64 Criticamente em perigo de extinção e 18 com Dados
      insuficientes) do Cerrado de Minas Gerais. O Guia de campo também auxilia a
      implementação de ações de conservação recomendadas nos Planos de Ação
      Nacional - PANs. 
      </p>
  </div>
</div>
<div class="box-section box-project ">
  <div class="project-img col-sm-4 col-md-4 col-lg-4" >
    <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/27" >
      <img src="{{static_url}}/images/livro_vermelho_2014.jpg" />
    </a>
  </div>

  <div class="description col-sm-8 col-md-8 col-lg-8">
    <h4><a href="http://dspace.jbrj.gov.br/jspui/handle/doc/27" >LIVRO VERMELHO - PLANTAS RARAS DO CERRADO</a></h4>
    <p>
    Apesar da profusão dos conceitos de raridade e das diferentes definições, é consenso 

    que espécies raras podem apresentar uma alta vulnerabilidade e, portanto, devem ser 

    priorizadas em medidas de conservação. O Cerrado é atualmente considerado uma das 

    áreas críticas para conservação e a perda de hábitat nesse bioma vem alcançando índices 

    alarmantes. Frente aos desafios de conservar espécies ameaçadas em função da 

    destruição paulatina dos seus hábitats, o objetivo do Livro Vermelho da flora do Brasil 

    – Plantas raras do Cerrado foi avaliar o risco de extinção de espécies consideradas raras 

    segundo o conceito de raridade de Giulietti et al. (2009) e com ocorrência e/ou 
    
    endêmicas do Cerrado. Assim, a partir da avaliação do risco de extinção das plantas 
    
    raras do Cerrado pretende-se subsidiar estratégias para o direcionamento de esforços 
    
    conservacionistas voltados as espécies mais suscetíveis à extinção iminente.

      </p>
  </div>
</div>

<div class="box-section box-project ">
  <div class="project-img col-sm-4 col-md-4 col-lg-4" >
    <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/28">
      <img src="{{static_url}}/images/projetos/areas/capa_livro_areas_prioritarias.png" />
    </a>
  </div>

  <div class="description col-sm-8 col-md-8 col-lg-8">
    <h4><a href="http://dspace.jbrj.gov.br/jspui/handle/doc/28">Áreas prioritárias para conservação e uso sustentável da flora Brasileira ameaçada de extinção</a></h4>
    <p>
      O principal produto do projeto até o momento é o livro Áreas prioritárias para conservação
      e uso sustentável da flora brasileira ameaçada de extinção. Esse documento apresenta os
      mapas das áreas prioritárias para conservação e uso sustentável da flora brasileira ameaçada de
      extinção para cada bioma e para todo o território nacional. A publicação tem caráter oficial e irá
      direcionar políticas públicas para a conservação de 2.107 espécies ameaçadas, em nível federal e
      estadual, munindo tomadores de decisão com informações técnicas de alta qualidade e precisão.
      É a primeira vez que o Brasil tem um mapa de áreas prioritárias para a conservação de plantas,
      portanto, as oportunidades são enormes.
    </p>
  </div>
</div>
<div class="box-section box-project ">
  <div class="project-img col-sm-4 col-md-4 col-lg-4" >
    <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/29">
      <img src="{{static_url}}/images/projetos/planejamento/faveiro-de-wilson.jpg" />
    </a>
  </div>

  <div class="description col-sm-8 col-md-8 col-lg-8">
    <h4><a href="http://dspace.jbrj.gov.br/jspui/handle/doc/29">PAN Faveiro de Wilson</a></h4>
    <p>
      O Plano de Ação Nacional do faveiro-de-wilson (Dimorphandra wilsonii Rizzini), espécie Criticamente em perigo (CR) e endêmica de Minas Gerais, contém a melhor informação disponível sobre a espécie, além do planejamento com as ações necessárias para sua conservação.
    </p>
  </div>
</div>
<div class="box-section box-project ">
  <div class="project-img col-sm-4 col-md-4 col-lg-4" >
    <a href="http://dspace.jbrj.gov.br/jspui/handle/doc/26">
      <img src="{{static_url}}/images/livrovermelho.png" />
    </a>
  </div>

  <div class="description col-sm-8 col-md-8 col-lg-8">
    <h4><a href="http://dspace.jbrj.gov.br/jspui/handle/doc/26">LIVRO VERMELHO DA FLORA DO BRASIL</a></h4>
    <p>
      O CNCFlora lançou o primeiro "Livro Vermelho da Flora do Brasil". A publicação científica reúne avaliações sobre o risco de extinção de espécies de plantas no país e representa uma contribuição da comunidade científica para a atualização da “Lista Oficial de Espécies da Flora Brasileira Ameaçadas de Extinção”, que está a cargo do Ministério do Meio Ambiente.</p>
    <p>
      <a href="http://cncflora.jbrj.gov.br/arquivos/arquivos/pdfs/LivroVermelho2013Errata-17-02-2014.pdf">Errata 17/02/2014</a>
      <a href="http://cncflora.jbrj.gov.br/arquivos/arquivos/pdfs/LivroVermelho2013Errata-31-03-2014.pdf">Errata 31/03/2014</a>
    </p>
    </div>



  </div>

