<!-- **************************************** -->
<!-- **************************************** -->
<!-- **************************************** -->
<!-- **************************************** -->
{% extends "layout-content.html" %}
{% block content %}
<section class="wrapper style1 equipe-page view-page">
  <div class="container">
    <h3>Equipo de Investigación</h3>
    {% include "content/"+language+"/equipe.html" %}
  </div>
</section>
{% endblock %}
<!-- **************************************** -->
<!-- **************************************** -->
<!-- **************************************** -->
<!-- **************************************** -->